.menu-icon div {
  height: 4px;
  width: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  margin-bottom: 4px;
  transition: 0.3s;
}

.menu-icon:hover div:nth-child(2) {
  display: none;
}

.menu-icon:hover div:nth-child(1) {
  transform: rotate(45deg) translate(0.3rem);
}

.menu-icon:hover div:nth-child(3) {
  transform: rotate(-45deg) translate(0.3rem);
}

.menu-icon {
  display: inline-block;
  cursor: pointer;
}
