@font-face {
  font-family: "open-sans";
  src: url("fonts/opensans-bold-webfont.woff2") format("woff2"),
    url("fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "open-sans";
  src: url("fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "open-sans", Arial, Helvetica, sans-serif;
}

p {
  color: #333;
  font-weight: 400;
}

/* https://www.fontsquirrel.com/ */
